/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');


h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

p, a {
  font-family: 'Source Sans Pro', sans-serif;
}


/* Generic styles */
html {
  scroll-behavior: smooth;
}

/* Styles for the home section */
.home {
  /* grid styles */
  display: grid;
  align-items: center;
}

.home > * {
    margin: 0.5rem ;
    color: black;
}

.home > h1 {
  font-size: 2.5rem;
}

.home > article > p {
  font-size: 1.5rem;
  font-weight: 200;
}


.kitchens > p {
  padding-block-start: 10px;
    margin: 0 auto;
}

.kitchens > ul{
  width: 50%;
  margin: 0 auto;

}
.kitchens > ul > li {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
  list-style: none;
}


.kitchens > ul > li > figure {
  margin: 0 auto;
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}

.kitchens > ul > li > figure > img {
  width: 100%;
}

.kitchens > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
  
}

.kitchens > ul > li > figure > figcaption > h3 {
  color: white;
  padding: .75rem;
  font-size: 0.75rem;
}

.kitchens > ul > li > p {
  font-size: 1rem;
  line-height: 1.5px;
  padding: 1rem .75rem;
  color: #666666;
 
}

.kitchens > ul > li > figure > figcaption > h3 > a {
  padding: 0 20px 20px;
  margin: 0 auto;
  float: right;
  color: white;
}


 @media only screen and (min-width: 768px) {
  .kitchens > ul > li > figure {
    max-height: 200px;
    overflow: auto;
   
  }

  .kitchens > ul > li > figure > img {
  
    border-radius: 10px;
}



.kitchens > ul > li > figure {
  width: 100%;
  position: sticky;
}
.kitchens > ul{
  width: 50%;
  margin: 0 auto;

}
 }