/* Styles for the home section */
.home {
  /* grid styles */
  display: grid;
  align-items: center;
  background-image: url(../../neven-krcmarek-246988-unsplash\ copy.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-size: 100% auto;
}

.home > * {
    margin: 0.5rem ;
    color: black;
}

.home > h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
}

.home > article > p {
  font-size: 2.5rem;
  padding: 0 20%;
  margin-left: 0;
  text-align: center;
}


.kitchens > p {
  padding-block-start: 10px;
    margin: 0 auto;
}


.kitchens {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
  list-style: none;
}


.kitchens > figure {
  margin: 0 auto;
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}

.kitchens >  figure > img {
  width: 100%;
}

.kitchens >  figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
  
}

.kitchens > figure > figcaption > h3 {
  color: white;
  padding: .75rem;
  font-size: 0.75rem;
}

.kitchens  > p {
  font-size: 1rem;
  line-height: 1.5px;
  padding: 1rem .75rem;
  color: #666666;
 
}

.kitchens > figure > figcaption > h3 > a {
  padding: 0 20px 20px;
  margin: 0 auto;
  float: right;
  color: white;
}


 @media only screen and (min-width: 768px) {
  .kitchens > figure {
    max-height: 200px;
    overflow: auto;
   
  }

  .kitchens > figure > img {
    border-radius: 10px;
    /* width: 100% */
}



.kitchens  > figure {
  width: 100%;
  position: sticky;
}

 }

  @media only screen and (min-width: 400px) {
  .kitchens > figure {
    max-height: 200px;
    overflow: auto;
   
  }

  .kitchens > figure > img {
    border-radius: 10px;
    width: 100%
}

.kitchens  > figure {
  width: 100%;
  position: sticky;
}

  }